
body {
    background-color: lightblue;
    background-image: url("../images/atlanta-map.jpg");

}



button {
    /*margin-left: 45%;*/
    /*text-align: center;*/
    width: 200px;
    position: absolute;
    left: 45%;
}




.jumbotron {
    background-color: lightsalmon;
    margin-top: 40px;
    text-align: center;
    letter-spacing: 2px;
    border-style: solid;
    border-width: 5px;
}

#gameHeading {
    text-align: center;
}
